<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Footer</title>
</head>
<body>
<div th:fragment="footer2" align="center">

    <footer style="font-size: large" class="panel-footer">
        Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]
        &nbsp; &nbsp; - &nbsp;
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/items/page/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
    </footer>
</div>
</body>
</html>