<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
    <style>
        .error {
            color: red;
            font-style: italic;
            font-size: small;
            font-weight: bold;
        }
    </style>
    <br><br>
    <div th:insert="~{fragments/bootstrap::bootstrap}"></div>
</head>
<body>
<div class="container">
    <div th:insert="~{fragments/navbar::navbar}"></div>
    <br><br><br><br><br><br>
    <div class="mx-auto" style="width: 900px" align="center">
        <form th:method="PATCH" th:action="@{/products/{id}(id=${product.getId()})}" th:object="${product}">
                  <p>
                <label for="name">
                    <td><b><span th:text="Product" style="color: blueviolet"></span></b></td>
                    <i class="fa fa-archive" aria-hidden="true" style="color: darkgreen"></i></label><br>
                <input type="text" th:field="*{name}" style="color: black" id="name" placeholder="Product name"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
            </p>
            <p>
                <label for="price">
                    <td><b><span th:text="Price" style="color: blueviolet"></span></b></td>
                    <i class="fa fa-usd" aria-hidden="true" style="color: darkgreen"></i></label><br>
                <input type="text" th:field="*{price}" style="color: black" id="price" placeholder="Item price">
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="error"></span>
            </p>
            <p>
                <label for="quantity">
                    <td><b><span th:text="Quantity" style="color: blueviolet"></span></b></td>
                    <i class="fa fa-list-ol" aria-hidden="true" style="color: darkgreen"></i></label><br>
                <input type="number" th:field="*{quantity}" style="color: black" id="quantity" placeholder="Quantity">
                <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></span>
            </p>
            <p>
                <label for="amount">
                    <td><b><span th:text="Amount" style="color: blueviolet"></span></b></td>
                    <i class="fa fa-list-ol" aria-hidden="true" style="color: darkgreen"></i></label><br>
                <input type="number" th:field="*{amount}" style="color: black" id="amount" placeholder="Amount" readonly>
                <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error"></span>
            </p>
            <input type="submit" class="btn btn-secondary" value="Update">
        </form>
    </div>
</div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div th:insert="~{fragments/footer::footer}"></div>
</html>