<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
    <style>
        .error {
            color: red;
            font-style: italic;
            font-size: small;
            font-weight: bold;
        }
    </style>
    <br><br>
    <div th:insert="~{fragments/bootstrap::bootstrap}"></div>
</head>
<body>
<div class="container">
    <div th:insert="~{fragments/navbar::navbar}"></div>
    <br><br>
    <div class="mx-auto" style="width: 900px" align="center">
        <form th:method="PATCH" th:action="@{/items/{id}(id=${item.Id})}" th:object="${item}">

            <label for="id"></label>
            <b><span th:text="Id" style="color: blueviolet"></span></b>
            <i class="fa fa-archive" aria-hidden="true" style="color: darkgreen"></i><br/>
            <input type="text" th:field="*{id}" id="id" readonly>
            <br/>

            <label for="product"></label>
            <b><span th:text="Product" style="color: blueviolet"></span></b>
            <i class="fa fa-archive" aria-hidden="true" style="color: darkgreen"></i><br/>
            <input type="text" th:field="*{product.name}" id="product" placeholder="Product" readonly>
            <span th:if="${#fields.hasErrors('product.name')}" th:errors="*{product.name}" class="error"></span>
            <br/>

            <label for="quantity"></label><br/>
          <b><span th:text="Quantity" style="color: blueviolet"></span></b>
            <i class="fa fa-list-ol" aria-hidden="true" style="color: darkgreen"></i></label><br/>
            <input type="number" th:field="*{quantity}" id="quantity" placeholder="Quantity" readonly>
            <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}" class="error"></span>
            <br/>

            <label for="amount"></label>
            <td><b><span th:text="Amount" style="color: blueviolet"></span></b></td>
            <i class="fa fa-usd" aria-hidden="true" style="color: darkgreen"></i><br/>
            <input type="text" th:field="*{amount}" id="amount" placeholder="Amount" readonly>
            <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="error"></span>
            <br/>
            <label for="payment"></label><br/>
            <b><span th:text="Payment" style="color: blueviolet"></span></b>
            <i class="fa fa-archive" aria-hidden="true" style="color: darkgreen"></i><br/>
            <input type="text" th:field="*{payment}" id="payment" readonly>
            <br/><br/>

            <input type="submit" class="btn btn-secondary" value="Update">
        </form>
    </div>
</div>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div th:insert="~{fragments/footer::footer}"></div>
</html>