<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>Orders</title>
    <br><br>
    <div th:insert="~{fragments/bootstrap::bootstrap}"></div>
</head>
<body>
<div th:insert="~{fragments/navbar::navbar}"></div>
<br><br>
<div class="mx-auto" style="width: 1200px;">
    <div class="h5"></div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Item name</th>
            <th scope="col">Item price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Amount</th>
            <th scope="col">Date</th>
            <th scope="col">Payment id</th>
            <th scope="col">Username</th>
            <th scope="col">User id</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:block th:each="item : ${pageItems}">
            <td th:text="${item.Id}"></td>
            <td th:text="${item.getProduct().getName()}"></td>
            <td th:text="${item.getProduct().getPrice()}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.amount}"></td>
            <td th:text="${item.getPayment().getDate()}"></td>
            <td th:text="${item.getPayment().getId()}"></td>
            <td th:text="${item.getPayment().getUser().getUserName()}"></td>
            <td th:text="${item.getPayment().getUser().getId()}"></td>
            <td>
                <a th:href="@{/items/{id}/edit-item(id=${item.Id})}"
                   class="btn btn-success"
                   type="button" data-toggle="tool-tip" data-placement="top" title="Update">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{/items/{id}(id=${item.Id})}">
                    <input type="submit" class="btn btn-danger"
                           data-toggle="tool-tip" data-placement="top" title="Delete item" value="delete">
                </form>
                <br/>
            </td>
        </tr>
        </tbody>
    </table>
    <br/><br/>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <b> Total items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]] </b>
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;  &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
            <b>  <li class="page-item">

                <a class="page-link" th:if="${currentPage > 1}" th:href="@{/items/page/1}">First</a>
                <span th:unless="${currentPage > 1}">First</span>    &nbsp; &nbsp;
            </li></b>
            <b><li class="page-item">
                <a th:if="${currentPage > 1}" th:href="@{'/items/page/' + ${currentPage - 1}}">Previous</a>
                <span th:unless="${currentPage > 1}">Previous</span>    &nbsp; &nbsp;
            </li></b>
            <b><li class="page-item">
                 <span th:each="i: ${#numbers.sequence(1, totalPages)}">
        <a th:href="@{'/items/page/' + ${i}}">[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
            </li></b>
            <b><li class="page-item">
                <a th:if="${currentPage < totalPages}" th:href="@{'/items/page/' + ${currentPage + 1}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>   &nbsp; &nbsp;
            </li></b>

            <b><li class="page-item">
                <a th:if="${currentPage < totalPages}" th:href="@{'/items/page/' + ${totalPages}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </li></b>
        </ul>
    </nav>
</div>
</body>
<br><br><br><br><br><br><br/>
<div th:insert="~{fragments/footer::footer}"></div>
</html>






