<!DOCTYPE html>
<html>
<head>
    <div th:insert="~{fragments/bootstrap::bootstrap}"></div>
</head>
<style>
    div {
        margin-top: 7%;
    }
</style>
<body>
<br><br>
<div class="mx-auto" style="width: 900px" align="center">
    <h1 style="color: #c6001b">This username already exist</h1>
      <h3><b><a href="/register" style="color: #2423c6">Back to registration</a></b></h3>
</div>
</body>
<br><br><br><br><br><br><br><br><br><br>
<div th:insert="~{fragments/footer::footer}"></div>
</html>