<!DOCTYPE html>
<html>
<head>
    <div th:insert="~{fragments/bootstrap::bootstrap}"></div>
</head>
<body>
<div th:insert="~{fragments/navbar::navbar}"></div>
<br><br>
<div class="mx-auto" style="width: 900px" align="center">
   <br><br><br><br><br><br>
    <h1> Sorry, this quantity is not in stock! </h1>
    <h2>Try to choose a smaller quantity</h2>
    <a href="/carts"><h3>Back to cart</h3></a>
</div>
</body>
<br><br><br><br><br><br><br><br><br><br>
<div th:insert="~{fragments/footer::footer}"></div>
</html>